body {
  padding: 30px;
}

h2 {
  margin: 20px 0;
}

.mb {
  margin-bottom: 100px;
}

#cssSelector {
  margin-bottom: 30px;
}

#cssProperties {
  margin-bottom: 30px;
}

#cssTransforms {
  margin-bottom: 60px;
}

.square {
  position: relative;
  width: 28px;
  height: 28px;
  margin: 1px;
  background-color: #000;
}

.demo-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  width: 290px;
  height: 100%;
}

.align-center {
  align-items: center;
}

.ml1 {
  font-weight: 900;
  font-size: 3.5em;
}

.ml1 .letter {
  display: inline-block;
  line-height: 1em;
}

.ml1 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml1 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #000;
  transform-origin: 0 0;
}

.ml1 .line1 {
  top: 0;
}

.ml1 .line2 {
  bottom: 0;
}

.motion-path {
  position: relative;
}

.follow-path {
  position: absolute;
  top: -9px;
  left: -9px;
}

.follow-path {
  position: absolute;
  top: -9px;
  left: -9px;
}

.click-area {
  display: block;
  width: 300px;
  height: 300px;
  cursor: pointer;
}

.click-area ul {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.click-area ul .circle {
  position: absolute;
  top: 0;
  left: 0;
  list-style: none;
}

.fade {
  width: 100px;
  height: 50px;
  position: relative;
}

.fade .item1 {
  width: 100px;
  height: 50px;
  background-color: #666;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.fade .item2 {
  width: 100px;
  height: 50px;
  background-color: #004455;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
